<!DOCTYPE html>
<html>
<head>
  <title>Newapp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><%= link_to "Demo App", root_path %></h1>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <% end %>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

<section>
<%= yield %>
</section>

<footer>
  Hoon Cho testing New App 2 in 2012
</footer>

</body>
</html>
